<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/a_bootcamp">Course: Intro to R Bootcamp</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/bana_datawrangling">Course: Data Wrangling with R</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/section1_intro">Introduction to R</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/section2_basics">R Basics</a>
          <a class="sidebar-nav-item">Data Types </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/section3_numbers">&nbsp;&nbsp;&nbsp;Dealing with Numbers</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/characters">&nbsp;&nbsp;&nbsp;Dealing with Characters</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/regex">&nbsp;&nbsp;&nbsp;Dealing with Regex</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/factors">&nbsp;&nbsp;&nbsp;Dealing with Factors</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/dates">&nbsp;&nbsp;&nbsp;Dealing with Dates</a>
          <a class="sidebar-nav-item">Data Structures </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/structure_basics">&nbsp;&nbsp;&nbsp;Basics</a>
          
  </nav>

  <div class="sidebar-item">
  </div>
</div>
