<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/a_bootcamp">Course: Intro to R Bootcamp</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/bana_datawrangling">Course: Data Wrangling with R</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/section1_intro">Introduction to R</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/section2_basics">R Basics</a>
          
          <a class="sidebar-nav-item">Data Types </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/section3_numbers">&nbsp;&nbsp;&nbsp;&nbsp;Dealing with Numbers</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/characters">&nbsp;&nbsp;&nbsp;&nbsp;Dealing with Characters</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/regex">&nbsp;&nbsp;&nbsp;&nbsp;Dealing with Regex</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/factors">&nbsp;&nbsp;&nbsp;&nbsp;Dealing with Factors</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/dates">&nbsp;&nbsp;&nbsp;&nbsp;Dealing with Dates</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/missing_values">&nbsp;&nbsp;&nbsp;&nbsp;Dealing with NA's</a>
          
          <a class="sidebar-nav-item">Data Structures </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/structure_basics">&nbsp;&nbsp;&nbsp;&nbsp;Basics</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/vectors">&nbsp;&nbsp;&nbsp;&nbsp;Managing Vectors</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/lists">&nbsp;&nbsp;&nbsp;&nbsp;Managing Lists</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/matrices">&nbsp;&nbsp;&nbsp;&nbsp;Managing Matrices</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/dataframes">&nbsp;&nbsp;&nbsp;&nbsp;Managing Data Frames</a>
          
          <a class="sidebar-nav-item">Functions </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/function_basics">&nbsp;&nbsp;&nbsp;&nbsp;Basics</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/functions">&nbsp;&nbsp;&nbsp;&nbsp;Writing Functions</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/control_statements">&nbsp;&nbsp;&nbsp;&nbsp;Control Statements</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/apply_family">&nbsp;&nbsp;&nbsp;&nbsp;Apply Family</a>
          
          <a class="sidebar-nav-item">Importing/Exporting Data </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/import">&nbsp;&nbsp;&nbsp;&nbsp;Importing Data</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/scraping">&nbsp;&nbsp;&nbsp;&nbsp;Scraping Data</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/exporting">&nbsp;&nbsp;&nbsp;&nbsp;Exporting Data</a>
          
          <a class="sidebar-nav-item">Shape & Transform Data </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/pipe">&nbsp;&nbsp;&nbsp;&nbsp;Simplify Code with %>%</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/tidyr">&nbsp;&nbsp;&nbsp;&nbsp;Reshape Data with tidyr</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/dplyr">&nbsp;&nbsp;&nbsp;&nbsp;Transform Data with dplyr</a>
          
          <a class="sidebar-nav-item">Visualizations </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/quickplots">&nbsp;&nbsp;&nbsp;&nbsp;Quick Plots</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://uc-r.github.io/ggplot">&nbsp;&nbsp;&nbsp;&nbsp;Advanced Plots with ggplot</a>
          
          
  </nav>

  <div class="sidebar-item">
  </div>
</div>
