<script src="{{ "/htmlwidgets_deps/htmlwidgets-0.5/htmlwidgets.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/jquery-1.11.1/jquery.min.js" | prepend: site.baseurl }}"></script>
<link href="{{ "/htmlwidgets_deps/dygraphs-1.1.1/dygraph.css" | prepend: site.baseurl }}" rel="stylesheet" />
<script src="{{ "/htmlwidgets_deps/dygraphs-1.1.1/dygraph-combined.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/moment-2.8.4/moment.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/moment-timezone-0.2.5/moment-timezone-with-data.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/dygraphs-binding-0.6/dygraphs.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/htmlwidgets-0.5/htmlwidgets.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/jquery-1.11.1/jquery.min.js" | prepend: site.baseurl }}"></script>
<link href="{{ "/htmlwidgets_deps/dygraphs-1.1.1/dygraph.css" | prepend: site.baseurl }}" rel="stylesheet" />
<script src="{{ "/htmlwidgets_deps/dygraphs-1.1.1/dygraph-combined.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/moment-2.8.4/moment.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/moment-timezone-0.2.5/moment-timezone-with-data.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/dygraphs-binding-0.6/dygraphs.js" | prepend: site.baseurl }}"></script>
