<script src="{{ "/htmlwidgets_deps/htmlwidgets-0.5/htmlwidgets.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/jquery-2.1.4/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/d3-3.5.12/d3.min.js" | prepend: site.baseurl }}"></script>
<link href="{{ "/htmlwidgets_deps/metrics-graphics-2.7.0/dist/metricsgraphics.css" | prepend: site.baseurl }}" rel="stylesheet" />
<link href="{{ "/htmlwidgets_deps/metrics-graphics-2.7.0/dist/mg_regions.css" | prepend: site.baseurl }}" rel="stylesheet" />
<script src="{{ "/htmlwidgets_deps/metrics-graphics-2.7.0/dist/metricsgraphics.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/metrics-graphics-2.7.0/dist/mg_regions.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/metricsgraphics-binding-0.9.0/metricsgraphics.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/htmlwidgets-0.5/htmlwidgets.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/jquery-1.11.1/jquery.min.js" | prepend: site.baseurl }}"></script>
<link href="{{ "/htmlwidgets_deps/leaflet-0.7.3/leaflet.css" | prepend: site.baseurl }}" rel="stylesheet" />
<script src="{{ "/htmlwidgets_deps/leaflet-0.7.3/leaflet.js" | prepend: site.baseurl }}"></script>
<link href="{{ "/htmlwidgets_deps/leafletfix-1.0.0/leafletfix.css" | prepend: site.baseurl }}" rel="stylesheet" />
<script src="{{ "/htmlwidgets_deps/leaflet-binding-1.0.0/leaflet.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/htmlwidgets-0.5/htmlwidgets.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/d3-3.5.4/d3.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/threejs-70/three.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/threejs-70/Detector.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/threejs-70/Projector.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/threejs-70/CanvasRenderer.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/globe-binding-0.2.1/globe.js" | prepend: site.baseurl }}"></script>
